{%  extends 'main/layout.html'%}
{% load static %}
{% load i18n %}
{% block title %}Про нас{% endblock %}
{% block content %}
<div class="history__container">
    <div class="title"><h1>{% trans "Історія компанії" %}</h1></div>
    <div class="history__text">
        <p>{% trans "Наша історія розпочалась у далекому 2007 році з маленької компанії на трьох осіб. Спочатку ми займались здебільшого дистрибуцією радіоелектроніки, а контрактне виробництво було другорядним напрямом. Згодом контрактне виробництво трансформувалося у виготовлення компонентів для систем та блоків живлення. Процес пішов — пропорційно до набутого досвіду зростала кількість клієнтів із “сарафанного радіо”, збільшувався парк техніки та об’єми виробництва. Окрім трансформаторів, з'являлися замовлення на кастомізовані блоки живлення або системи фільтрації від електромагнітних завад (ЕМІ). Згодом виробництво стало основною спеціалізацією нашої компанії." %}</p>
        <br>
        <br>
        <p>{% trans "З того часу ми перетнули відмітку у 200 + клієнтів. Наші системи живлення працюють у провідних охоронних системах, у приладах очистки та дезінфекції басейнів, у портативних і стаціонарних кардіографах та моніторах пацієнтів для “швидких”, у дефібриляторах, у блоках живлення для світлодіодного освітлення, у громадському електротранспорті, у зарядних пристроях різної потужності та інших продуктах." %}</p>
    </div>
</div>
<div class="power__container">
    <div class="power__body">
        <div class="power__text">
            <p>{% trans "ADC team — компанія, що вже 15 років виробляє системи живлення під ключ. Ми прораховуємо намотку, виробляємо, лакуємо виріб та проводимо випробування, і все це у відповідності до міжнародних стандартів" %}</p>
            <br>
            <br>
            <p>{% trans "Працюємо за принципом “дав обіцянку - виконуй”: робимо на совість, притримуємося дедлайнів, ділимось досвідом. І, звісно, у разі потреби гарантовано надаємо технічну підтримку — на весь термін роботи системи живлення" %}</p>
            <div class="title"><h2>{% trans "Наші потужності" %}</h2></div>
            <ul class="power__list">
                <li>{% trans "обладнання для виготовлення виробів з лінійною та тороїдальною намоткою" %}</li>
                <li>{% trans "дві автоматичні складальні лінії" %}</li>
                <li>{% trans "обладнання для вакуумного просочення" %}</li>
                <li>{% trans "відділ дрібносерійного виробництва" %}</li>
                <li>{% trans "лакувальний відділ" %}</li>
                <li>{% trans "відділ технічного контролю та випробувань" %}</li>
            </ul>

        </div>
        <div class="power__image">
            {% get_current_language as current_language %}
            {% if current_language == 'en' %}
            <img src="{% static 'main/img/02en.png' %}" alt="image">
            {% else %}
            <img src="{% static 'main/img/uk_2x.webp' %}" alt="image">
            {% endif %}
        </div>

    </div>
</div>
<div class="video__container">
    <div class="video__body">
        <div class="video__contact">
            <hi class="contact__title title">{% trans "Зв’яжіться з нами" %}</hi>
            <div class="contact__form">
                <form method="post" class="form__form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="form__btn" type="submit">{% trans "Залишити заявку" %}</button>
                </form>
            </div>

        </div>
        <div class="video__video">
            <iframe src="https://www.youtube.com/embed/sNTXtOubECw" title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
        </div>
    </div>
</div>
{% endblock %}