{%  extends 'main/layout.html'%}
{% load static %}
{% load  i18n %}
{% block title %}{{ post.title }}{% endblock %}
{% block content %}

{% if post.photo %}
<div class="prod__container">
    <div class="prod__title title"><h1>{{ post.title}}</h1></div>
    <div class="prod__body">
        <div class="prod__image">
            <img src="/media/{{ post.photo }}" alt="image" width="500" height="300">
        </div>
        <div class="prod__text">
            {{ post.content|safe }}
        </div>

    </div>

</div>


{% endif %}
<div class="contactproduct__container">
    <div class="contactproduc__body">
        <div class="contactproduc__contact">
            <hi class="contact__title title">{% trans "Зв’яжіться з нами" %}</hi>
            <div class="contact__form">
                <form method="post" class="form__form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="form__btn" type="submit">{% trans "Залишити заявку" %}</button>
                </form>
            </div>

        </div>

    </div>
</div>

{% endblock %}